<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Netflix Recs</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hind|Lato" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <a name="top"></a>
    <a href="../shows"><img src="/img/logo.png" alt="LOGO" id="logo"></a>
    <a href="../shows/add"><button id="submit">SUBMIT YOUR OWN</button></a>
    {{#if user}}
    <span>Welcome {{user.username}}!</span>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="../sign-up">Signup</a>
    <a href="../login">Login</a>
    {{/if}}
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>