<!--Form posts to the currect route-->
<form class="/sign-up" method="post" action="" align="center">
    Create Your Account! 
    <ul></ul>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" placeholder="name">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
    </div>
    <button type="submit">Submit</button>
</form>
